{{ define "Form" }}
<form hx-post="/tasks" hx-swap="outerHTML">
  <input
    id="title"
    name="title"
    class="bg-gray-50 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-5"
  />
  <button
    type="submit"
    class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-500 font-medium rounded text-sm px-5 py-2.5 focus:outline-none mt-2.5 text-center inline-flex items-center"
  >
    Add Task
  </button>
</form>
{{ end }}
<!---->
{{ define "Item" }}
<div {{ if .SwapOOB }}hx-swap-oob="beforeend:#items" {{ end }}>
  <div
    id="task-{{ .Item.ID }}"
    class="draggable flex items-center justify-between bg-gray-100 rounded px-4 py-2.5 transition"
  >
    <input type="hidden" name="item" value="{{ .Item.ID }}" />
    <div class="flex items-center space-x-2.5">
      <button
        type="button"
        class="cursor-move text-gray-500 hover:text-gray-700 handle"
      >
        Move
      </button>
      {{ if .Editing}}
      <form
        hx-put="/tasks/{{ .Item.ID }}"
        hx-target="#task-{{ .Item.ID }}"
        hx-swap="outerHTML"
        class="flex items-center gap-2.5"
      >
        <input
          id="title"
          name="title"
          value="{{ .Item.Title }}"
          class="bg-gray-50 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
        <button
          type="submit"
          class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-500 font-medium rounded text-sm px-5 py-2.5 focus:outline-none text-center inline-flex items-center"
        >
          Save
        </button>
      </form>
      {{ else}}
      <p id="title">{{ .Item.Title }}</p>
      {{end}}
    </div>

    <div class="flex items-center space-x-2.5">
      <button
        hx-delete="/tasks/{{ .Item.ID }}"
        hx-target="#task-{{ .Item.ID }}"
        hx-swap="outerHTML"
        type="button"
        class="text-red-500 hover:text-red-700"
      >
        Delete
      </button>

      <button
        hx-get="/tasks/{{ .Item.ID }}/edit"
        hx-target="#task-{{ .Item.ID}}"
        hx-swap="outerHTML"
        type="button"
        class="text-blue-500 hover:text-blue-700"
      >
        Edit
      </button>

      <input
        type="checkbox"
        {{
        if
        .Item.Completed
        }}checked
        {{
        end
        }}
        hx-put="/tasks/{{ .Item.ID }}/toggle"
        class="w-5 h-5 text-blue-700 bg-white border-gray-300 rounded focus:ring-blue-500"
      />
    </div>
  </div>
</div>
{{ end }}
